#temporary build files:
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.lot
*.aux
*.blg
*.ilg
*.ist
*.loa
*.lof
*.lot
*.out
*.toc
*.acr
*.alg
*.glg
*.gls
*.glo
*.acn
*.ind
*.bbl
*.idx
vutinfth.aux
vutinfth.cls
vutinfth.glo
vutinfth.gls
vutinfth.hd
vutinfth.idx
vutinfth.ilg
vutinfth.ind
vutinfth.out
vutinfth.toc

#build PDF result:
vutinfth.pdf
example.pdf

#IDEs
.idea/*

#macos
.DS_Store

