#temporary build files:
*.log
example.fdb_latexmk
example.fls
example.synctex.gz
example.lot
example.aux
example.blg
example.ilg
example.ist
example.loa
example.lof
example.lot
example.out
example.toc
example.acr
example.alg
example.glg
example.gls
vutinfth.aux
vutinfth.cls
vutinfth.glo
vutinfth.gls
vutinfth.hd
vutinfth.idx
vutinfth.ilg
vutinfth.ind
vutinfth.out
vutinfth.toc

#build PDF result:
vutinfth.pdf
example.pdf

#macos
.DS_Store

